@font-face{
font-family: "Runes";
src: url("Acadian_Runes-Regular_PERSONAL_USE.ttf");
}

*{
    margin: 0px;
}

body{
	background-image: url("wip.jpg");
}

div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom:auto;
    width: 260px;
    height: 50px;
}

h1{
    font-family: "Runes";
    color: yellow;
    width: 10em;
}
