nav ul li{
	display: inline-block;
	padding: 10px;
	border-style: dashed;
	border-radius: 10px;
	background-color: red;
}

#map {
    	background: url(background.png);
	background-repeat: no-repeat;
  }

#map path {
    transition: fill 0.2s;
  }
  
#map path:hover {
    fill: red;
    stroke: yellow;
  }

#map path:active {
    fill: red;
    stroke: yellow;
  }
